<!DOCTYPE html>
<html>
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pie Chart</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <style>
    body,.container,#tester {
  
  background-color: #000105;
  
}
ol, p{
color: darkred;


}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
    
    
    
    </style>

  </head>



<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/json">/Top_Words</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="/pie">/Pie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/offenders">/Offenders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/top_ten">/Top_Ten</a>
        </li>

      </ul>
      
    </div>
  </nav>


    <div class="container-fluid" style="width:100%">
    <div class="row no-gutter" style="width:100%">
        <div class="col-lg-2">
          <P> Offender of the Day</P>
            <ol>First Name: {{random_offender.First_Name}}</ol>
            <ol>Last Name: {{random_offender.Last_Name}}</ol>
            <ol>Age: {{random_offender.Age}}</ol>
            <ol>Race: {{random_offender.Race}}</ol>
            <ol>County: {{random_offender.County}}</ol>
            <ol>Execution Date: {{random_offender.Date}}</ol>
        </div>
        <div class="col-lg-5">
            <div id="graph"></div>
        </div> 
            
          
          <div class="col-lg-5">
            <div id="tester" style="width:600px;height:250px;"></div>


            
          </div>
        
      </div>
    </div>
      
</body>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{{ url_for('static', filename='js/logic.js') }}"></script>



</html>